

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="../assets/image.png"
  />
  <span>Scrabble Helper</span>
    <div class="spacer"></div>    
    
    <select class="form-control form-control-sm languageCmb" #mySelect (change)="onOptionsSelected(mySelect.value)">
      <option>Español</option>
      <option>English</option>
    </select>
</div>

<div class="content" role="main">
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">{{"Letters" | translate}}</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="letters" placeholder="{{'EnterLetterPlaceHolder' | translate}}" value={{lettersToRequest}}>
    </div>
    
    <button type="submit" (click)="requestWordsToBack()" class="btn btn-primary btnSend">{{"Send" | translate}}</button>
  </form>


  <div class="tableContainer">



  </div>
</div>

